.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #add8e6;
    padding: 10px;
    text-align: center;
  }
  body, wrapper {
    min-height:100vh;
 }
 
 .flex-fill {
    flex:1 1 auto;
 }
 .footer {
  position: fixed;
  bottom: 0;
  right:0;
}
